// Specific CSS for your home-page
.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
}

.form-container input.btn {
  margin-top: 30px;
}

.form-container label {
  font-weight: 400;
  color: white;
}

.form-container h2 {
  color: white;
  margin-bottom: 40px;
}


body.welcome {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/banner2.jpg);
}

