// Specific CSS for your home-page
.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  background-color: #FFFFFF;
  background:
    radial-gradient(circle at top left, $primary-blue, #FFFFFF 600px),
    radial-gradient(farthest-corner at bottom right, $danger-blue, #FFFFFF 200px);
  padding: 20px;
  border-radius: 4px;

}

.form-container h2 {
  margin-bottom: 40px;
}

body.registrations, body.sessions {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/banner2.jpg);
}

