.container-center-elements{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-minus-circle{
  color: $action-color;
  font-size: 20px;
}

.beach-actions{
  margin-top: 5px;
}

.container-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-width{
  width: 80px;
  justify-content: center;
}


