.container-center-elements{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-minus-circle{
  color: $primary-blue;
  font-size: 20px;
}

.container-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
