<div class='card-wrapper'>
  <div class='card-container'>
    <div class='card'>
      img
      gradient
      <div class='card-head-container'>
        <div class='weather-icon'>

        </div>
        <div class='weather-temp'>

        </div>
        <div class='beach-name'>

        </div>
        <div class='session-icon'>

        </div>
      </div>
      <div class='card-body-container'>
        <div class='card-wind-container'>
          <div class='wind-icon'>

          </div>
          <div class='wind-speed'>

          </div>
          <div class='wind-direction-icon'>

          </div>
          <div class='wind-gusts'>

          </div>
        </div>
        <div class='card-wave-container'>
          <div class='wave-icon'>

          </div>
          <div class='wave-height'>

          </div>
          <div class='wave-direction-icon'>

          </div>
          <div class='wave-period'>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
