  <div class="info-window">
    <div class="spot-info">
      <h5><%= spot.name %></h5>
      <p><%= spot.country %></p>
      <button type="button" class="btn-xs btn-primary"><%= button_to 'Add', favorite_spots_path(favorite_spot: {spot_id: spot.id }), method: :post %>
</button>
    </div>
  </div>


