<div class="timeslottabs">
  <%= link_to "#", class: "timeslottab active", :'data-hour' => "11" do %>
    <p>Morning</p>
    <h6>08-12</h6>
  <% end %>
  <%= link_to "#", class: "timeslottab", :'data-hour' => "15" do %>
    <p>Afternoon</p>
    <h6>12-16</h6>
  <% end %>
  <%= link_to "#", class: "timeslottab", :'data-hour' => "19" do %>
    <p>Evening</p>
    <h6>16-20</h6>
  <% end %>
</div>

