<div class="timeslottabs">
  <%= link_to "#", class: "timeslottab active" do %>
    <p>Morning</p>
    <h6>08-12</h6>
  <% end %>
  <%= link_to "#", class: "timeslottab" do %>
    <p>Afternoon</p>
    <h6>12-16</h6>
  <% end %>
  <%= link_to "#", class: "timeslottab" do %>
    <p>Evening</p>
    <h6>16-20</h6>
  <% end %>
</div>

