<div class="text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <h1>Welcome !</h1>
        <p>Start adding your favorite spots and set your preferences !</p>
        <%= link_to "Settings", settings_users_path(current_user) %>
      </div>
    </div>
  </div>
</div>
