<div class="banner">
  <div class="banner-content text-center">
    <h1>cBreeze</h1>
     <p>Plan your kite week with ease</p>
    <div>
      <%=link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
    </div>
    <div>
      <%=link_to "Log in", new_user_session_path, class: "btn btn-light btn-lg", style: "color: white;"  %>
    </div>
  </div>
</div>


