<%= content_for(:bars) do %>
  <%= render 'shared/tabs' %>
  <%= render 'shared/timeslottabs' %>
<% end %>

<h1>Forcasts</h1>
<% @forecasts.each do |forecast| %>
  <%= render 'shared/card', forecast: forecast %>
<% end %>

