.card {
  width: 335px;
  height: 130px;
  background: linear-gradient($primary-blue, $danger-blue);
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 1px 1px 2px $gray-lighter;
}

.card-head-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-color: black;
}

.head-weather-container {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 20px;
}

.weather-temp p {
  font-size: 12px;
}

.beach-name p {
  font-size: 22px;
}

.session-icon {

}

.card-body-container {
  display: flex;
  justify-content: space-evenly;
  // background-color: red;
}

.card-wind-container {
  // background-color: blue;
  margin-top: 20px;
  margin-bottom: 20px;

}

.wind-icon img {
  width: 30px;
}

.wind-speed p {
  font-size: 22px;
}

.wind-direction-icon {

}

.wind-gusts p {
  font-size: 12px;
}

.card-wave-container {
  // background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wave-icon img {
  width: 30px;

}

.wave-heigth {
  font-size: 22px;
}

.wave-direction-icon {

}

.wave-period p {
  font-size: 12px;
}


