.card {
  // z-index: 1;
  width: 335px;
  background: linear-gradient($primary-blue, $danger-blue);
  // background-image: url(logo_wo_name_white.png);
  // opacity: 0,1;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 1px 1px 2px $gray-lighter;
  margin-top: 10px;
  color: white;
  position: relative;
  p {
    margin-bottom: 0;
  }
}

.card-container {

}

.card-head-container {
  text-align: center;
  font-weight: 800;
  letter-spacing: 0px;
  // background-color: black;
}

.head-weather-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  height: 31px;
}


.weather-icon {
  width: 20px;
}

.weather-temp p {
  font-size: 12px;
  margin-top: 1px;
}

.beach-name p {
  font-size: 22px;
}

.session-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-body-container {
  display: flex;
  justify-content: space-around;
  * {
    margin: 0;
  }
  // background-color: red;
}

.card-wind-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  // background-color: blue;

}

.secondary-info-wind {
  margin-left: -7px;
  display: flex;
  align-item: center;
  justify-content: center;
}

.wind-icon img {
  margin-left: 15px;
  width: 30px;
}

.wind-speed p {
  font-size: 22px;
}

.wind-direction-icon img {
  margin-right: 10px;
  width: 25px;

}

.wind-gusts p {
  display: inline-block;
  font-size: 12px;
  // margin-left: 10px;
}

.card-wave-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  // background-color: yellow;
}

.secondary-info-wave {
  margin-left: -7px;
  display: flex;
  align-item: center;
  justify-content: center;
}

.wave-icon img {
  margin-left: 15px;
  width: 30px;
}

.wave-heigth {
  font-size: 22px;
  margin-left: 10px;
}

.wave-direction-icon img {
  margin-left: 7px;
  width: 25px;
}

.wave-period p {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
}

.metric {
  font-size: 14px;
}
