.card {
  // width: 335px;
  // height: 130px;
  background: linear-gradient($primary-blue, $danger-blue);
}

.card-head-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.head-weather-container {
  display: flex;
}

.weather-icon {
  width: 20px;
}

.weather-temp {

}

.beach-name {

}

.session-icon {

}

.card-body-container {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
}

.card-wind-container {
  background-color: blue;
  margin-top: 20px;
  margin-bottom: 20px;

}

.wind-icon img {
  width: 30px;
}

.wind-speed {

}

.wind-direction-icon {

}

.wind-gusts {

}

.card-wave-container {
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wave-icon img {
  width: 30px;

}

.wave-heigth {

}

.wave-direction-icon {

}

.wave-period {

}


